<div class="{{theme}}">
	<div class="container">
	<div class="accordion accordion--{{ modifier }}">
		<section class="accordion-bellow">
			<input type="checkbox" name="accordion-group" id="accordion-one-a">
			<label for="accordion-one-a">Accordion Section #1</label>
			<div class="accordion-content">
				<p>{{ text }}</p>
			</div>
		</section>
		<section class="accordion-bellow">
			<input type="checkbox" name="accordion-group" id="accordion-two-b">
			<label for="accordion-two-b">Accordion Section #2</label>
			<div class="accordion-content">
				<p>{{ text }}</p>
			</div>
		</section>
		<section class="accordion-bellow">
			<input type="checkbox" name="accordion-group" id="accordion-three-c">
			<label for="accordion-three-c">Accordion Section #3</label>
			<div class="accordion-content">
				<p>{{ text }}</p>
			</div>
		</section>
		<section class="accordion-bellow">
			<input type="checkbox" name="accordion-group" id="accordion-four-d">
			<label for="accordion-four-d">Accordion Section #4</label>
			<div class="accordion-content">
				<p>{{ text }}</p>
			</div>
		</section>
	</div>
	</div>
</div><!--/{{theme}}-->
