<div class="{{theme}}">
	<div class="container">
		<div class="media-object media-object--{{modifier}}" data-my-order="1">
			<div class="media-object--media">
				<img src="{{media-object-media}}">
			</div>
			<div class="media-object-copy">
				<h3>
					{{media-object-header}}
				</h3>
				<p>
					{{media-object-body}}
				</p>
				<a href="#">
					{{media-object-link}}
				</a>
			</div>
		</div>
		<div class="media-object media-object--{{modifier}}" data-my-order="1">
			<div class="media-object--media">
				<img src="{{media-object-media}}">
			</div>
			<div class="media-object-copy">
				<h3>
					{{media-object-header}}
				</h3>
				<p>
					{{media-object-body}}
				</p>
				<a href="#">
					{{media-object-link}}
				</a>
			</div>
		</div>
		<div class="media-object media-object--{{modifier}}" data-my-order="1">
			<div class="media-object--media">
				<img src="{{media-object-media}}">
			</div>
			<div class="media-object-copy">
				<h3>
					{{media-object-header}}
				</h3>
				<p>
					{{media-object-body}}
				</p>
				<a href="#">
					{{media-object-link}}
				</a>
			</div>
		</div>
		<div class="media-object media-object--{{modifier}}" data-my-order="1">
			<div class="media-object--media">
				<img src="{{media-object-media}}">
			</div>
			<div class="media-object-copy">
				<h3>
					{{media-object-header}}
				</h3>
				<p>
					{{media-object-body}}
				</p>
				<a href="#">
					{{media-object-link}}
				</a>
			</div>
		</div>
	</div>
</div><!--/{{theme}}-->
