<div class="{{theme}}">
	<a href="{{url-internal}}" target=""> {{text}} </a><br>
	<a href="{{url-external}}" target="_blank"> {{text2}} </a><br>
	<a href="{{url-word-document}}"> {{text3}} </a><br>
	<a href="{{url-pdf}}"> {{text4}} </a><br>
	<a href="{{url-xls}}"> {{text5}} </a><br>
	<a href="{{url-sound}}"> {{text6}} </a><br>
	<a href="{{url-video}}"> {{text7}} </a><br>
	<a href="#">Facebook <i class="fa fa-facebook"></i></a><br>
	<a href="#"> Twitter <i class="fa fa-twitter"></i></a><br>
	<a href="#"> Github <i class="fa fa-github"></i></a><br>
	<a href="#"> Instagram <i class="fa fa-instagram"></i></a>
</div><!--/{{theme}}-->
