<div class="{{theme}}" data-respond>
	<div class="card-media--{{ modifier }}" data-my-order="1">
		<div class="card-media__media">
			<img src="{{card-media}}">
		</div>
		<div class="card-media__copy">
			<h3>
				{{card-header}}
			</h3>
			<p>
				{{card-body}}
			</p>
			<a href="#">
				{{card-link}}
			</a>
		</div>
	</div>
	<div class="card-media--{{ modifier }}" data-my-order="2">
		<div class="card-media__media">
			<img src="{{card-media}}">
		</div>
		<div class="card-media__copy">
			<h3>
				{{card-header}}
			</h3>
			<p>
				{{card-body}}
			</p>
			<a href="#">
				{{card-link}}
			</a>
		</div>
	</div>
	<div class="card-media--{{ modifier }}" data-my-order="3">
		<div class="card-media__media">
			<img src="{{card-media}}">
		</div>
		<div class="card-media__copy">
			<h3>
				{{card-header}}
			</h3>
			<p>
				{{card-body}}
			</p>
			<a href="#">
				{{card-link}}
			</a>
		</div>
	</div>
	<div class="card-media--{{ modifier }}" data-my-order="4">
		<div class="card-media__media">
			<img src="{{card-media}}">
		</div>
		<div class="card-media__copy">
			<h3>
				{{card-header}}
			</h3>
			<p>
				{{card-body}}
			</p>
			<a href="#">
				{{card-link}}
			</a>
		</div>
	</div>
</div><!--/{{theme}}-->
