<div class="{{theme}}">
	<div class="wrap-inner">
		<div class="card-magazine--{{ modifier }}" data-my-order="1">
			<a href="#" id="" class=" " target="_self" rel="" rel="nofollow">
				<div class="card-magazine__media">
					<img src="{{card-media}}">
				</div>
				<div class="card-magazine__copy">
					<h3>{{card-header}}</h3>
					<p>{{card-body}}</p>
					<a href="#">{{card-link}}</a>
				</div><!--card-magazine__copy-->
			</a>
		</div><!--card-magazine--{{modifier}}-->
		<div class="card-magazine--{{ modifier }}" data-my-order="1">
			<a href="#" id="" class=" " target="_self" rel="" rel="nofollow">
				<div class="card-magazine__media">
					<img src="{{card-media}}">
				</div>
				<div class="card-magazine__copy">
					<h3>{{card-header}}</h3>
					<p>{{card-body}}</p>
					<a href="#">{{card-link}}</a>
				</div><!--card-magazine__copy-->
			</a>
		</div><!--card-magazine--{{modifier}}-->
		<div class="card-magazine--{{ modifier }}" data-my-order="1">
			<a href="#" id="" class=" " target="_self" rel="" rel="nofollow">
				<div class="card-magazine__media">
					<img src="{{card-media}}">
				</div>
				<div class="card-magazine__copy">
					<h3>{{card-header}}</h3>
					<p>{{card-body}}</p>
					<a href="#">{{card-link}}</a>
				</div><!--card-magazine__copy-->
			</a>
		</div><!--card-magazine--{{modifier}}-->
	</div><!--wrap-inner-->
</div><!--/{{theme}}-->
