<div class="{{theme}}">
	<div class="container">
		<div class="card card--{{modifier}}" data-my-order="1">
			<div class="card-copy">
				<h3>
					{{card-header}}
				</h3>
				<p>
					{{card-body}}
				</p>
				<a href="#">
					{{card-link}}
				</a>
			</div>
		</div>
		<div class="card card--{{modifier}}" data-my-order="2">
			<div class="card-copy">
				<h3>
					{{card-header}}
				</h3>
				<p>
					{{card-body}}
				</p>
				<a href="#">
					{{card-link}}
				</a>
			</div>
		</div>
		<div class="card card--{{modifier}}" data-my-order="1">
			<div class="card-copy">
				<h3>
					{{card-header}}
				</h3>
				<p>
					{{card-body}}
				</p>
				<a href="#">
					{{card-link}}
				</a>
			</div>
		</div>
		<div class="card card--{{modifier}}" data-my-order="1">
			<div class="card-copy">
				<h3>
					{{card-header}}
				</h3>
				<p>
					{{card-body}}
				</p>
				<a href="#">
					{{card-link}}
				</a>
			</div>
		</div>
	</div>
</div><!--{{theme}}-->
