<div class="{{theme}}">
	<ul class="iconlist--before {{modifier}}">
		<li>{{ text }}</li>
		<li>{{ text }}</li>
		<li>{{ text }}</li>
		<li>{{ text }}</li>
		<li>{{ text }}</li>
	</ul>
</div><!--/{{theme}}-->
