<div class="{{theme}}">
	<div class="hero" data-my-order="1">
		<div class="tint tint--with-hover">
			<img src="{{heroMedia}}" alt="Hero" />
			<div class="hero__inner">
				<div class="hero__copy">
					<h1 class="hero-title">{{heroHeader}}</h1>
					<p>{{heroCopy}}</p>
					<a href="{{call-to-action-link}}" id="" class="button button--information" target="_self" rel="" rel="nofollow"> {{call-to-action-label}} </a>
				</div><!--/{{hero__copy}}-->
			</div><!--/{{hero-inner}}-->
		</div><!--/{{tint}}-->
	</div><!--/{{hero}}-->
</div><!--/{{theme}}-->
